[user]
	name = Austin Karren
[include]
  path = ~/.gitconfig.local # Replace with your own configuration file or personal information
[alias]
  undo = reset --soft HEAD^
[push]
  autoSetupRemote = true
  default = current
[core]
  pager = delta
[delta]
  line-numbers = true
[merge]
  conflictstyle = zdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
